{% extends "base.html" %}

{% block external_head %}
    <meta name="description" content="단순한 블로그 사이트입니다.">
    <meta name="keywords" content="Blog">
{% endblock %}

{% block article %}
    <h1>Post List</h1>
    <a class="btn btn-primary" href="{% url 'blog_app:create_post' %}" role="button">글 추가</a>
    {% for post in post_list %}
        <div class="card">
            {% if post.origin_post.all %}
                <img src="{{ post.origin_post.all.0.image.url }}" class="card-img-top" alt=".">
            {% else %}
                no image
            {% endif %}
          <div class="card-body">
                <h5 class="card-title"><a href="{% url 'blog_app:read_post' post.id %}">{{ post.title }}</a></h5>
                <p class="card-text">
                    {{ post.main_text }}
                </p>
          </div>
        </div>
    {% empty %}
        <p>nothing here</p>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}